.container {
    width: 1280px;
    margin: 0 auto;   
    }
    
     
    
.ramda {
    position: absolute;
width: 334px;
height: 79px;
left: 0px;
top: 0px;
font-weight: 400;
font-size: 0px;
line-height: 94px;
display: flex;
align-items: flex-end;
text-align: center;
text-decoration: none;
padding-left: 98px;
padding-top: 63px;
}
.ramda >span{
    font-size: 80px;
}
.black{
    color: #000000;
}
.blue{
    color: #4BCAFF;
}

.display-top {
    display: flex;
    background-color: #35444F;
    width: 1280px;
    height: 69px;
    left: 2px;
    top: 119px;
    margin-top: 182px;
    justify-content: center;
    margin-left: 100px;  
    
    
   }
.display-text {
    display: flex;
    text-align: center;
    
    color: white;
    align-items: center;
    font-weight: 400;
font-size: 23px;
line-height: 28px;

flex: 1;
height: 69px;
border-left: 1px solid white;
box-sizing: border-box;
padding: 0 10px;
display: flex;
justify-content: center;
}
  .display-support{
     color: white;
    height: 69px;
    border-left: 1px solid white;
    box-sizing: border-box;
    padding: 0 10px;
     width: 150px;
     }
  .display-hover:hover{
    background-color: #222F3A;}
    .display-hover{
        width: 153px;
    }



 .chart {
    display: flex;
    flex-wrap: wrap;
    gap: 42px; 
    margin-left: 100px;} 
.Item {
    box-sizing: border-box;
    width: 344px; ;
    height: 399px;
    border: 1px solid #000000;
    margin-top: 49px;
    font-size: 27px;
font-weight: 400; 
display: flex;
flex-wrap: wrap;
    }
    li.Item1 {
        margin-top: 26px;
        margin-bottom: 25px;
        padding-left: 44px;
        color: #485863;      
     }
     li.Item2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 342px;
        height: 81px;     
        left: 1px;
        top: 78px;
         color:#485863 ;
     }
     li.Item2:hover{
        background-color: #DBDBDB;
     }
     li.Item3{
        margin-top: 25px;
        margin-bottom: 52px;
        padding-left: 42px;
        color: #485863;
     }
    li.Item4{
        padding-left: 44px;
        margin-bottom: 52px;
        color: #485863;
    }
    li.Item5 {
        padding-left: 44px;
        margin-bottom: 30px;
        color: #485863; }
.border{
    height: 529px;
    width: 885px;
    display: flex;
border: 1px solid black;
box-sizing: border-box;
margin-top: 49px;
display: flex;
justify-content: center;
align-items: center;
}
img.photo{
    width: 320px;
    height: 381px;   
}
p.paragraph1 {
    width: 885px;
    height: 120px;
    margin-left: 487px;
    margin-top: 37px;
    size: 18px;
    line-height: 24px;  
}
p.paragraph2{
    Width: 885px;
    Height: 109px; 
    margin-left:487px ;
    margin-top: 34px;
    size: 18px;
    line-height: 24px;  
}
.display-buttom {
    display: flex;
    background: #63696E7A;
     width: 1280px;
    height: 69px;
     margin-top: 54px;
    justify-content: center;
    margin-left: 100px;
    margin-bottom: 30px;
    

}  

    .display-buttom-text{
     margin-left: 70px;
    text-align: center;
   color: #0C1927;
   align-items: center;
   font-weight: 400;
font-size: 24px;
line-height: 28px;
margin: 18px;
margin-left: 40px;

}
.display-buttom-5{
     flex:2;
     padding-left: 110px;
     display: flex;
     }
    
.display-buttom-hover:hover{
    text-decoration: underline;
    color: #3181A6;
    text-underline-position: under;
  text-underline-offset: 13px;

  
}